#login-page
{

  min-height: calc(100vh - 274px) !important;
}

button
{
  background-color: #6699CC;
  border: none;
}

#login-form
{

  width:100%;
  padding: 20px;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

@media (max-width: 768px) {

  #login-page
  {

    min-height: calc(100vh - 155px) !important;
  }
}
