
nav {

  background-color: #6699CC;
  padding: 10px; /* Opciono: Dodajte razmak oko linkova navigacije */
  color: white; /* Opciono: Promenite boju teksta navigacije */
  width: 100%;
  font-size: x-large;

}

.nav a
{
  color: white;
  cursor: pointer;
}


.home-page {
  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  /* Dodatni stilovi po potrebi */
}
button
{
  border: none;
  border-radius: 2px;
  font-size: large;
  padding: 5px 10px 5px 10px;
  height: 40px;
}

button:hover{
  background-color: rgb(184, 182, 182);
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  ul.nav {
    flex-direction: column;
    max-height: 550px;
  }

  ul.nav li {
    margin-bottom: 10px;
  }

  ul.nav li:last-child {
    margin-bottom: 0;
  }

  ul.nav li a {
    padding: 5px;
  }

  ul.nav li a:hover {
    background-color: lightgray;
  }

  ul.nav.d-flex {
    margin-top: 10px;
    justify-content: center;
    text-align: center;
  }

  #btns
  {
    justify-content: center !important;
  }
  #btns button
  {
    margin-top: 10px;
  }

  #idSlike
  {
    min-height:550px;
  }

  #btns button
  {
    margin-top: 10px;
    margin-left:30px;
  }
}

.nav  a:hover
{
  color: black;
}

