<div class="add-busline-page">
<form [formGroup]="formLine">
  <h3 style="text-align: center;">Add a busline</h3>
  <!-- <div class="alert alert-success d-flex justify-content-center" *ngIf="added">
    <div style="text-align: center;">
      You added successfully the auditorium!
    </div>
  </div> -->
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">From city</label>
    <input type="text" id="form2Example1" class="form-control" formControlName="fromCity" />
  </div>


  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">To city</label>
    <input type="text" id="form2Example2" class="form-control" formControlName="toCity" />
  </div>


   <!-- Text input -->
   <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Creation Date</label>
    <input type="datetime-local" id="form2Example2" class="form-control" formControlName="creationDate" />
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Price</label>
    <input type="text" id="form2Example2" class="form-control" formControlName="price" />
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Agency</label>
    <input type="text" id="form2Example2" class="form-control" formControlName="agency" />
  </div>



  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4" (click)="addLine()">Add a place</button>
</form>
</div>
