<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
</head>
<body>
  <div class="container" style="margin-top: 13%;">
    <h2>Forgot Password</h2>
    <form [formGroup]="resetForm">
      <div class="form-group">
        <label for="newPassword" style="text-align: start;">Email</label>
        <input type="text" id="newPassword" name="newPassword" placeholder="Enter your email" required formControlName="email">
        <div *ngIf="email?.touched && email?.invalid" class="mt-2">
          <div *ngIf="email?.errors?.required" class="alert alert-danger small-alert">Email is required</div>
          <div *ngIf="email?.errors?.email" class="alert alert-danger small-alert">Email must valid form</div>
        </div>
      </div>
      <button type="submit" class="btn" (click)="resetPass()">Send Email</button>
    </form>
  </div>
</body>
</html>
