.home-image {

  overflow: hidden;
  position: relative; /* Postavite relativnu poziciju na element sa slikom */
  display: inline-block; /* Postavite prikaz na inline-block kako bi se navigacija mogla pozicionirati iznad slike */
}

.home-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.home-page {

  position: relative; /* Postavite relativnu poziciju na roditeljski element */
  /* Dodatni stilovi po potrebi */
}



nav {
  position: absolute; /* Postavite apsolutnu poziciju na navigaciju */
  top: 0; /* Pozicionirajte navigaciju na vrh slike */
  left: 0; /* Pozicionirajte navigaciju s leve strane slike */
  z-index: 2; /* Postavite veći z-index da bi navigacija bila iznad slike */
  background-color: rgba(0, 0, 0, 0.5); /* Opciono: Dodajte boju pozadine navigacije */
  padding: 10px; /* Opciono: Dodajte razmak oko linkova navigacije */
  color: white; /* Opciono: Promenite boju teksta navigacije */
  width: 100%;
  font-size: x-large;

}

nav a
{
  color:white;
}

.card
{
  width: 25%;
  align-items: center;
}

.cards
{

  height: 300px;
}

.card img
{
  margin-top: 10px;
  width: 40%;
  height: 50%;
}

.card img:hover
{
  transform: rotate(-20deg);
}

.list-unstyled img
{
  width: 200px;
  height: 200px;
}

ul
{
  align-items: center;
}

li{
  align-items: center;
  justify-content: center;
}

button
{
  border: none;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  font-size: large;
}

button:hover{
  background-color: rgb(184, 182, 182);
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    height: auto;
  }

  .nav-link {
    margin-bottom: 10px;
  }

  .cards {
    flex-wrap: wrap;
    height: auto;
  }

  .card {
    width: 100%;
    margin-bottom: 10px;
  }

  #text-card
  {

    padding: 0px !important;
    flex-direction: column;
    width: 100%;


  }

  .card1{
    text-align: center;
    margin: 10px !important;
    margin-left: 0px;
    margin-right: 0px;
  }

  #idSlike
  {
    min-height:550px;
  }

  #btns button
  {
    margin-top: 10px;
    margin-left:30px;
  }

}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  ul.nav {
    flex-direction: column;
  }

  ul.nav li {
    margin-bottom: 10px;
  }

  ul.nav li:last-child {
    margin-bottom: 0;
  }

  ul.nav li a {
    padding: 5px;
  }

  ul.nav li a:hover {
    background-color: lightgray;
  }

  ul.nav.d-flex {
    margin-top: 10px;
    justify-content: center;
    text-align: center;
  }
}

.nav  a:hover
{
  color: black;
}

