<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="home-page">
    <div class="home-image">
      <nav class="d-flex "  style="justify-content: space-between;">
        <ul class="nav justify-content-start d-flex ">
        <a class="nav-link active" [routerLink]="['']">Home</a>
        <a class="nav-link active" [routerLink]="['about']">About</a>
        <a class="nav-link" [routerLink]="['schedule']"  *ngIf="user?.role == 'Driver'">My Schedule</a>
        <a class="nav-link" [routerLink]="['create-line']" *ngIf="user?.role == 'Admin'">Create Line</a>
        <a class="nav-link" [routerLink]="['add-schedule']" *ngIf="user?.role == 'Admin'">Add Schedule</a>
        <a class="nav-link" [routerLink]="['travel']" *ngIf="user?.role == 'Admin' ">Travel</a>
        <a class="nav-link" [routerLink]="['reservation']" *ngIf="user?.role != 'Admin' && authService.isLoggedIn()">Travels</a>
        <a class="nav-link" [routerLink]="['buses-list']" *ngIf="user?.role == 'Driver'">Bus List</a>
        <a class="nav-link" *ngIf="authService.isLoggedIn()" [routerLink]="['profile']">My Profile</a>
        <a class="nav-link" [routerLink]="['user-list']" routerLinkActive="router-link-active" *ngIf="user?.role == 'Admin'" >Management List</a>
        </ul>
        <ul class="nav d-flex me-4" id="btns">
          <button class="me-2" [routerLink]="['register']" *ngIf="!authService.isLoggedIn()">Register</button>
          <button [routerLink]="['login']" *ngIf="!authService.isLoggedIn()" >Login</button>
          <button *ngIf="authService.isLoggedIn()" (click)="authService.logout()">Logout</button>
        </ul>
      </nav>
      <img id="idSlike" [src]="imagePath" style="object-fit: cover;" alt="image desc">
    </div>
    <div id="idH1">
    <h1 style="text-align: center;margin: 0px 50px 0px 50px;" class="mt-4 mb-5 ">
      Welcome to Zen Bus Lines!</h1>
    <h1 style="text-align: center;margin: 0px 50px 0px 50px;" class="mt-4 mb-5 ">
      This platform is designed exclusively for our dedicated team of administrators, drivers and counter clerk</h1>
    </div>
    <div class="cards d-flex justify-content-center mb-5">

    <div class="card text-center me-3">
      <img class="card-img-top" src="/assets/images/setting.png" alt="Title">
      <div class="card-body">
        <h4 class="card-title">Admin</h4>
        <p class="card-text">As an administrator, you'll have access to powerful features that enable you to oversee and optimize the entire transportation network. </p>
      </div>
    </div>

    <div class="card text-center me-3">
      <img class="card-img-top" src="/assets/images/driver.png" alt="Title">
      <div class="card-body">
        <h4 class="card-title">Driver</h4>
        <p class="card-text">For our drivers, we provide a user-friendly interface that allows you to view assigned routes, access real-time updates. </p>
      </div>
    </div>

    <div class="card text-center">
      <img class="card-img-top" src="/assets/images/clerk.png" alt="Title">
      <div class="card-body">
        <h4 class="card-title">Counter clerk</h4>
        <p class="card-text">As a counter clerk, you'll have access to passenger information, ticketing systems, and tools to manage ticket sales and validations. </p>
      </div>
    </div>
    </div>

    <div class="d-flex justify-content-center p-5" id="text-card">
      <div style="text-align: justify; margin: 100px; margin-right: 10px;" class="card1">
        <h2>SEARCH FUNCTIONALITY</h2><br>
        You don't have to worry about which departures operate according to the summer timetable,
        which ones on holidays, and which ones on weekends. Simply select the date and approximate travel time,
         and "Polazak" will display the valid timetable for that day for all bus and train lines.
          If you only choose the name of the settlement during the search, the results will include
           all stations  in the selected settlement.</div>
      <div  style="text-align: justify; margin: 100px; margin-left: 10px;" class="card1">
        <h2 >SEARCH WITH TRANSFERS</h2><br>
        The team behind the "Polazak" website puts a lot of effort into connecting existing lines of different transport providers
         if there are no direct departures on the requested route. Users of the website are presented with options
          for transfers. The search with transfers lists all those departures that, travel time, can take the passenger to the desired destination with one transfer at one of the
           intermediate stations.</div>
    </div>

  </div>

  <ul class="list-unstyled">
      <li class="d-flex">
          <div class="flex-shrink-0">
              <img src="/assets/images/employee.png" alt="" width="300">
          </div>
          <div class="ms-3">
              <h5 class="mt-0">650 Employees</h5>
              <p>The employee demonstrated exceptional professionalism and dedication in delivering  service to our customers.</p>
          </div>
      </li>
      <li class="d-flex">
          <div class="ms-3">
              <h5 class="mt-0">245k Services annually</h5>
              <p>The friendly staff provided helpful directions, ensuring that I reached my destination without any confusion.</p>
          </div>
          <div class="flex-shrink-0">
            <img src="/assets/images/directional-sign.png" alt="" width="">
        </div>
      </li>
      <li class="d-flex">
          <div class="flex-shrink-0">
              <img src="/assets/images/bus-stop.png" alt="" width="">
          </div>
          <div class="ms-3">
              <h5 class="mt-0">420 buses</h5>
              <p>The bus arrived on time, and the comfortable seating and smooth ride made for an enjoyable journey.</p>
          </div>
      </li>

      <li class="d-flex">
        <div class=" ms-3 me-2">
            <h5 class="mt-0">KMs Travelled annually</h5>
            <p>The map provided clear and detailed directions, making it easy to navigate and explore the city.</p>
        </div>
        <div class="flex-shrink-0">
          <img src="/assets/images/city-map.png" alt="" width="">
      </div>
    </li>
  </ul>







</body>
</html>
